doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title DummyBot
    body 
        header 
            h1 DummyBot 
        main 
            ul
            form
                input(type="text", name="nick", class="nick" placeholder="Write Your Nickname")
                button Save 
                input(type="text", name="chat", class="chat" placeholder="Write Your Message", required) 
                button Send
        script(src="/public/js/app.js")